SECRET_KEY = your django secret key

POSTGRES_PASSWORD=your postgresql user password
POSTGRES_USER=your postgresql user password
POSTGRES_DB=dolls
POSTGRES_HOST=db

# Example for yandex
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=your email account fo newsletters (yandex recommended)
EMAIL_HOST_PASSWORD=your password for email account

# Celery
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

# pgAdmin
PGADMIN_DEFAULT_EMAIL=your pgadmin user password
PGADMIN_DEFAULT_PASSWORD=your pgadmin user password

# Flower (Celery monitoring)
FLOWER_USER=your flower user password
FLOWER_PASSWORD=your flower user password
FLOWER_PORT=5555
FLOWER_BROKER_URL=redis://redis:6379/1

TG_TOKEN=your telegram bot token
DEEPSEEK_API_KEY=your deepseek token

# Domain
DOMAIN_NAME=example.com
DOMAIN_ADMIN_EMAIL=admin@example.com

DEBUG=False
