poetry export --format=requirements.txt --output=requirements.txt --without-hashes

python manage.py dumpdata \
    --exclude=auth.permission \
    --exclude=contenttypes \
    --exclude=admin.logentry \
    --exclude=sessions.session \
    --exclude=auth.user \
    --exclude=subscribes \
    --exclude=socialaccount \
    --exclude=users \
    --indent=2 > data.json

docker compose run --rm certbot certonly --webroot -w /var/www/certbot --email dan.toropov@gmail.com -d toytales.ru -d www.toytales.ru -d flower.toytales.ru --agree-tos --non-interactive --force-renewal

docker-compose up -d --no-deps --build flower

