{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}

		<main>
			<!-- Page Banner -->
			<div class="page-banner container-fluid no-padding">
				<!-- Container -->
				<div class="container">
					<div class="banner-content">
						<h3>404</h3>
						<p>our vision is to be Earth's most customer centric company</p>
					</div>
					<ol class="breadcrumb">
						<li><a href="index.html" title="Home">Home</a></li>							
						<li class="active">Error</li>
					</ol>
				</div><!-- Container /- -->
			</div><!-- Page Banner /- -->
			
			<!-- Error Page -->
			<div class="error-page container-fluid">
				<!-- Container -->
				<div class="container">
					<div class="error-code">
						<span>4<img src="images/404.png" alt="404">4</span>
					</div>
					<div class="error-content">
						<p><span>Oops!</span>  Page not found</p> 
						<a href="#" title="Back to home">Back to home</a>
					</div>
				</div><!-- Container /- -->
			</div><!-- Error Page /- -->
		</main>
		
{% endblock content %}
