{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}
    <main class="main">
      <section class="section block-content-404">
        <div class="container"> 
          <div class="text-center"> 
            <div class="box-image-404"> <img src="{% static 'dolls/assets/imgs/page/404/404.svg' %}" alt="Guza"></div>
            <h1 class="mb-25">404 - Not found!</h1>
            <p class="text-20">Страница не найдена.<br>Перейдите на главную</p>
          </div>
        </div>
      </section>
    </main>
{% endblock %}