{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}
    <main class="main">
      <section class="section banner-about-us2">
        <div class="box-cover-image wow fadeInUp"
             style="background-image:url({% static 'dolls/assets/imgs/page/about1/banner-2.png' %})"></div>
        <div class="box-banner-info wow bounceIn"> 
          <p class="overline-t2-medium primary-navy mb-10">ABOUT</p>
          <h1 class="color-primary-dark mb-30">Believe in  <br class="d-block">Craftsmanship <br class="d-block">and Luxurious Design.</h1>
        </div>
      </section>
      <section class="section block-our-shop-2">
        <div class="container"> 
          <div class="row align-items-center"> 
            <div class="col-lg-6 mb-80">
              <div class="box-image-about-2-top wow bounceIn"> <img src="{% static 'dolls/assets/imgs/page/about1/about3.png' %}" alt="Guza"></div>
            </div>
            <div class="col-lg-6 mb-80 wow bounceIn"> 
              <p class="text-17-medium text-uppercase mb-10 primary-navy">our shop</p>
              <h3 class="mb-15">We believe in Empathy and Honesty</h3>
              <p class="body-p2 neutral-medium-dark mb-25">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ante suscipit tellus ultrices facilisis. Vestibulum dapibus at risus ac porttitor. Integer ultricies dui in eros pharetra facilisis. </p>
              <p class="text-17-medium mb-5">Location</p>
              <p class="text-16 neutral-medium-dark mb-25">Provider Store, 381b Riley St, Surry Hills, Australia NSW 2010</p>
              <p class="text-17-medium mb-5">Opening hours</p>
              <p class="text-16 neutral-medium-dark mb-25">Mon: Closed, Tue-Sat: 12PM-6PM, Sun: Closed</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6 mb-80">
              <div class="box-image-about-2-bottom wow bounceIn"> <img src="{% static 'dolls/assets/imgs/page/about1/about4.png' %}" alt="Guza"></div>
            </div>
            <div class="col-lg-6 mb-80 wow bounceIn"> 
              <p class="text-17-medium text-uppercase mb-15 primary-navy">Meet the founder</p>
              <h3 class="mb-15">Jakob Curtis</h3>
              <p class="body-p2 neutral-medium-dark">Donec non interdum nisl. Sed ut est ac lacus sodales convallis. Nam non velit justo. Mauris vel ultrices tortor. Proin bibendum magna porttitor porttitor suscipit. Praesent sit amet consequat eros. Quisque ullamcorper ornare vulputate. Nam sodales sem id diam sollicitudin, id lobortis tellus tincidunt. </p>
              <div class="socials mt-55 justify-content-start"><a href="#"><img src="{% static 'dolls/assets/imgs/page/about1/fb.svg' %}" alt="Guza"></a><a href="#"><img src="assets/imgs/page/about1/insta.svg" alt="Guza"></a></div>
            </div>
          </div>
        </div>
      </section>
    {% include 'our-quality.html' %}
      <section class="section block-testimonials block-testimonials-2">
        <div class="container"> 
          <div class="text-center wow bounceIn"> 
            <p class="text-17-medium text-uppercase mb-15 primary-navy">WHAT BUYERS SAY</p>
            <h3 class="neutral-dark mb-40 wow fadeInLeft">Customers Reviews</h3>
          </div>
          <div class="box-slide-customers wow fadeInUp">
            <div class="box-swiper"> 
              <div class="swiper-container swiper-banner">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <p class="text-italic-28 mb-30">“ As women who value our health, we’re here to do what we do best - roll up our sleeves to get it done right.”</p>
                    <p class="text-16-medium">Randy Workman</p>
                  </div>
                  <div class="swiper-slide">
                    <p class="text-italic-28 mb-30">“ As women who value our health, we’re here to do what we do best - roll up our sleeves to get it done right.”</p>
                    <p class="text-16-medium">Randy Workman</p>
                  </div>
                  <div class="swiper-slide">
                    <p class="text-italic-28 mb-30">“ As women who value our health, we’re here to do what we do best - roll up our sleeves to get it done right.”</p>
                    <p class="text-16-medium">Randy Workman</p>
                  </div>
                </div>
                <div class="box-pagination-button">
                  <div class="swiper-pagination swiper-pagination-banner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}