{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}
    <main class="main">
      <section class="section banner-about-us2">
        <div class="box-cover-image wow fadeInUp"
             style="background-image:url({% static 'dolls/assets/imgs/page/about1/banner-2.png' %})"></div>
        <div class="box-banner-info wow bounceIn"> 
          <p class="overline-t2-medium primary-navy mb-10">ОБО МНЕ</p>
          <h1 class="color-primary-dark mb-30">Сказочница и <br class="d-block">кукольный мастер <br class="d-block">с душой</h1>
        </div>
      </section>
      <section class="section block-our-shop-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 mb-80">
              <div class="box-image-about-2-top wow bounceIn"> <img src="{% static 'dolls/assets/imgs/page/about1/about3.png' %}" alt="Екатерина Торопова"></div>
            </div>
            <div class="col-lg-6 mb-80 wow bounceIn">
              <p class="text-17-medium text-uppercase mb-10 primary-navy">моя история</p>
              <h3 class="mb-15">Екатерина Торопова</h3>
              <p class="body-p2 neutral-medium-dark mb-25">Привет! Я Екатерина Торопова, но в мире кукол меня часто называют просто Сказочница и кукольный мастер.</p>

              <ul class="list-about mb-25">
                <li>✔ С детства обожаю сказки и верю, что игрушки могут оживать</li>
                <li>✔ Создаю текстильных кукол с душой и характером</li>
                <li>✔ Пишу истории, которые дарят тепло и уют</li>
                <li>✔ Верю, что радость можно сшить — и я это делаю!</li>
              </ul>

              <p class="body-p2 neutral-medium-dark mb-25">Если вам хочется поговорить о волшебстве, куклах или просто найти себе сказочного друга — вы попали по адресу!</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6 mb-80">
              <div class="box-image-about-2-bottom wow bounceIn"> <img src="{% static 'dolls/assets/imgs/page/about1/about4.png' %}" alt="Куклы ТОР"></div>
            </div>
            <div class="col-lg-6 mb-80 wow bounceIn">
              <p class="text-17-medium text-uppercase mb-15 primary-navy">ТОР</p>
              <h3 class="mb-15">Территория Особенных Радостей</h3>
              <p class="body-p2 neutral-medium-dark mb-25">Это не просто мои инициалы. Это целый мир!</p>

              <ul class="list-about mb-25">
                <li>✔ Т — Тепло рук, создающих кукол</li>
                <li>✔ О — Ожившие истории, которые я пишу</li>
                <li>✔ Р — Радость, которая наполняет сердце каждого, кто держит в руках мою куклу</li>
              </ul>

              <p class="body-p2 neutral-medium-dark mb-25">ТОР — это место, где куклы рассказывают сказки, а сказки оживают в куклах. Добро пожаловать в мой уютный мир!</p>

              <div class="socials mt-55 justify-content-start">
                <a href="#"><img src="{% static 'dolls/assets/imgs/page/about1/fb.svg' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'dolls/assets/imgs/page/about1/insta.svg' %}" alt="Instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% include 'testimonials2.html' %}
    </main>
{% endblock %}