{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}

<main class="main">
    <section class="section block-head">
        <div class="container">
            <div class="text-center wow bounceIn">
                <h1>Our Stories</h1>
                <div class="breadcrumbs d-inline-block">
                    <ul>
                        <li><a href="#">Home </a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section block-blog-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    {% for article in blog_list %}
                    <div class="cardBlog cardBlogList wow fadeInUp">
                        <div class="cardImage"><a href="{% url 'blog:blog_detail' article.slug %}">
                            <img src="{% static 'dolls/assets/imgs/page/blog-list/img6.png' %}" alt="guza"></a></div>
                        <div class="cardInfo">
                            <div class="cardTags"><a href="#">{{article.category}}</a>
                                <span class="date-post text-uppercase">{{article.created_at|date:"j M"}}</span>
                            </div>
                            <a class="cardTitle" href="{% url 'blog:blog_detail' article.slug %}">
                                <h5>{{article.title|safe}}</h5></a>
                            <p class="cardDesc body-p2">{{article.content|safe|truncatechars_html:400}}</p>
                            <a class="link-underline link-l2" href="{% url 'blog:blog_detail' article.slug %}">Читать</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% include 'pagination.html' with page=blog_list page_name='page' %}
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-right">
                        <div class="block-sidebar">
                            <h5 class="text-20-medium mb-20">Latest Post</h5>
                            <ul class="list-latest-posts">
                                <li>
                                    <div class="image-post"><a href="#"><img src="assets/imgs/page/blog-list/post.png"
                                                                             alt=""></a></div>
                                    <div class="info-post"><span class="date-post text-uppercase">13 Dec, 2022</span><a
                                            href="#">
                                        <h5 class="title-post">Milan Highlights Summer 2020</h5></a></div>
                                </li>
                                <li>
                                    <div class="image-post"><a href="#"><img src="assets/imgs/page/blog-list/post2.png"
                                                                             alt=""></a></div>
                                    <div class="info-post"><span class="date-post text-uppercase">13 Dec, 2022</span><a
                                            href="#">
                                        <h5 class="title-post">Milan Highlights Summer 2020</h5></a></div>
                                </li>
                                <li>
                                    <div class="image-post"><a href="#"><img src="assets/imgs/page/blog-list/post3.png"
                                                                             alt=""></a></div>
                                    <div class="info-post"><span class="date-post text-uppercase">13 Dec, 2022</span><a
                                            href="#">
                                        <h5 class="title-post">Milan Highlights Summer 2020</h5></a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="block-sidebar">
                            <h5 class="text-20-medium mb-20">Tags</h5>
                            <div class="box-tags">
                                {% for tag in tags_list %}
                                <a class="btn btn-tag-filter" href="{{tag.get_url_change}}?model=Article" title="{{tag.tag}}"
                                   {% if tag.str_pk in tags_article %}
                                   style="color: #b6795f;"
                                   {% endif %}>{{tag.tag}}</a>
                                {% endfor %}
                                <a class="btn btn-tag-filter" href="{% url 'tags:clear_tag' %}?model=Article" title="Сбросить отбор тегов">Сбросить</a>
                        </div>
                        <div class="block-sidebar"><img src="assets/imgs/page/blog-list/sale.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}