{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}
{% load mptt_tags %}

<main>
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="banner-content">
                <h3>Our Blog</h3>
                <p>our vision is to be Earth's most customer centric company</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="index.html" title="Home">Home</a></li>
                <li class="active">Blog</li>
            </ol>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->

    <!-- Container -->
    <div class="container">
        <!-- Content Area -->
        <div class="content-area blog-section blog-post col-md-8 col-sm-8 col-xs-12">
            <article class="type-post">
                <div class="entry-cover">
                    <img src="{% static 'dolls/images/blank-blog.jpg' %}" alt="blog">
                    <span class="post-date"><a href="#"><i class="fa fa-calendar-o"></i>{{article.created_at|date:"j M"}}</a></span>
                </div>
                <div class="blog-content">
                    <h3 class="entry-title">{{article.title|safe}}</h3>
                    <div class="entry-meta">
                            <span class="post-like">
                                <a href="#" class="like" data-pk="{{article.pk}}"
                                   {% if request.user in article.users_like.all %}
                                   data-action="unlike" title="Убрать">
                                        <i class="fa fa-heart"></i>{% else %}
                                        data-action="like" title="Поставить">
                                        <i class="fa fa-heart-o"></i>{% endif %}</a><span
                                    class="count_like_{{article.pk}}">
                                {{article.users_like.count}}</span></span>
                        <span class="post-admin"><i class="fa fa-user"></i>Автор
                            <a href="#" title="Max">{{article.owner}}</a></span>
                    </div>
                    <div class="entry-content">
                        {{article.content|safe}}
                        <div class="tags">
                            <a id="myLink" href="#" onclick="showReplyForm({{node.id}})">КОММЕНТИРОВАТЬ</a>
                            <ul class="social">
                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="facebook"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="facebook"><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Форма для ответа -->
                <div id="reply-form-undefined" style="display:none;">
                    <div class="comment-form">
                        <form method="post" action="{% url 'blog:article_reply' article.pk %}">
                            {% csrf_token %}
                            <div class="form-group col-md-12">
                                        <textarea name="text" placeholder="Ваш комментарий . . ." rows="3"
                                                  class="form-control"></textarea>
                            </div>
                            <input type="submit" title="send" value="Отправить" name="send">
                        </form>
                    </div>
                </div>
            </article>
            <!-- Comment Section -->
            <div class="comment-section">
                <div class="section-heading">
                    <h3>comments are here<span>(3)</span></h3>
                </div>
                <ul class="media-list">
                    {% recursetree comments %}
                    <li class="media">
                        <div class="media-left">
                            <a href="#" title="{{ node.owner }}">
                                {% if node.owner.avatar %}
                                <img src="{{ node.owner.avatar }}"
                                     {% else %}
                                <img src="{% static 'dolls/images/blank-avatar.jpg' %}"
                                     {% endif %}
                                     alt="comment"></a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading">{{node.owner}}</h4>
                                <span><i class="fa fa-calendar-o"></i>{{node.created_at| date:"M j, y"}}</span>
                                <p>{{node.text}}</p>
                                <a href="#" onclick="showReplyForm({{ node.id }})">Ответить</a>
                            </div>
                        </div>
                        <!-- Форма для ответа -->
                        <div id="reply-form-{{ node.id }}" style="display:none;">
                            <div class="comment-form">
                                <form method="post" action="{% url 'blog:comment_reply' node.id %}">
                                    {% csrf_token %}
                                    <div class="form-group col-md-12">
                                        <textarea name="text" placeholder="Ваш комментарий . . ." rows="3"
                                                  class="form-control"></textarea>
                                    </div>
                                    <input type="submit" title="send" value="Отправить" name="send">
                                </form>
                            </div>
                        </div>
                        {% if not node.is_leaf_node %}
                        <ul>{{ children }}</ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul>
            </div><!-- Comment Section /- -->
        </div><!-- Content Area /- -->

        <!-- Widget Area -->
        <div class="col-md-4 col-sm-4 col-xs-12 widget-area">
            <!-- Widget Search -->
            <aside class="widget widget_search">
                <h3 class="widget-title">Search</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search You Wants. . .">
                    <span class="input-group-btn">
								<button class="btn btn-search" title="Search" type="button"><i
                                        class="icon icon-Search"></i></button>
							</span>
                </div>
            </aside><!-- Widget Search /- -->
            <!-- Widget Latest Post -->
            <aside class="widget widget_latest_post">
                <h3 class="widget-title">recent posts</h3>
                <div class="latest-box">
                    <div class="post-box">
                        <a href="#"><img src="images/latest-post-1.jpg" alt="Post"></a>
                        <h5><a href="#" title="need max shop.">need max shop</a></h5>
                        <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>July 20, 2016</a><a href="#"><i
                                class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="post-box">
                        <a href="#"><img src="images/latest-post-2.jpg" alt="Post"></a>
                        <h5><a href="#" title="Commenly use products">Commenly use products</a></h5>
                        <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>June 18, 2016</a><a href="#"><i
                                class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="post-box">
                        <a href="#"><img src="images/latest-post-3.jpg" alt="Post"></a>
                        <h5><a href="#" title="chairs are beautiful">chairs are beautiful</a></h5>
                        <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>May 23, 2016</a><a
                                href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
                    </div>
                </div>
            </aside><!-- Widget Latest Post /- -->
            <!-- Widget Tags -->
            <aside class="widget widget_tweets">
                <h3 class="widget-title">latest tweets</h3>
                <!-- Main Carousel -->
                <div id="main-carousel1" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-carousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#main-carousel1" data-slide-to="1"></li>
                        <li data-target="#main-carousel1" data-slide-to="2"></li>
                    </ol>
                    <div role="listbox" class="carousel-inner">
                        <div class="item active">
                            <h5>tweet@John max</h5>
                            <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
                            <a href="#">http://goo.gl/6CbMtH</a>
                            <span>5 Hours ago</span>
                        </div>
                        <div class="item">
                            <h5>tweet@John max</h5>
                            <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
                            <a href="#">http://goo.gl/6CbMtH</a>
                            <span>5 Hours ago</span>
                        </div>
                        <div class="item">
                            <h5>tweet@John max</h5>
                            <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
                            <a href="#">http://goo.gl/6CbMtH</a>
                            <span>5 Hours ago</span>
                        </div>
                    </div>
                </div>
            </aside>
        </div><!-- Widget Area /- -->
    </div><!-- Container /- -->
</main>
{% endblock content %}