{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}
{% load mptt_tags %}

<main class="main">
    <div class="section block-breadcrumb">
        <div class="container">
            <div class="breadcrumbs wow bounceIn">
                <ul>
                    <li><a href="#">Home </a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">5 Tips to Increase Your Online Sales</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="section block-blog-single">
        <div class="container-blog-single">
            <div class="blog-head wow bounceIn">
                <div class="text-center">
                    <span class="post-like">
                                <a href="#" class="text-17-medium like" data-pk="{{article.pk}}"
                                   {% if request.user in article.users_like.all %}
                                   data-action="unlike" title="Убрать">
                                        <i class="fa fa-heart"></i>{% else %}
                                        data-action="like" title="Поставить">
                                        <i class="fa fa-heart-o"></i>{% endif %}</a><span
                                    class="count_like_{{article.pk}}">
                                {{article.users_like.count}}</span></span>
                    <h2>{{article.title|safe}}</h2>
                    <div class="meta-post text-17"><span>{{article.created_at|date:"j M"}}</span></div>
                </div>
            </div>
            <div class="blog-content wow bounceIn">
                <img class="w-100" src="{% static 'dolls/assets/imgs/page/blog/single.png' %}" alt="Guza">
                <div class="blog-content-inner">
                    {{article.content|safe}}
                    <div class="block-tag-share">
                        <div class="block-tags"><span class="text-17 mr-20">Tags</span><a class="btn btn-tag-filter"
                                                                                          href="#">Collection</a><a
                                class="btn btn-tag-filter" href="#">Makeup</a><a class="btn btn-tag-filter" href="#">Jacket</a>
                        </div>
                        <div class="block-shares"><span class="text-17 mr-20">Share</span>
                            <div class="socials"><a href="#"><img src="assets/imgs/template/icons/fb.svg"
                                                                  alt="Guza"></a><a href="#"><img
                                    src="assets/imgs/template/icons/insta.svg" alt="Guza"></a><a href="#"><img
                                    src="assets/imgs/template/icons/tw.svg" alt="Guza"></a></div>
                        </div>
                    </div>
<!--                    <div class="block-related-post">-->
<!--                        <h4 class="mb-30">Related Posts</h4>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-4 col-md-6">-->
<!--                                <div class="cardBlog wow fadeInUp">-->
<!--                                    <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage2/blog1.png"-->
<!--                                                                            alt="guza"></a></div>-->
<!--                                    <div class="cardInfo">-->
<!--                                        <div class="cardTags"><a href="#">Fashion</a><span-->
<!--                                                class="date-post">DEC 1, 2022</span></div>-->
<!--                                        <a class="cardTitle" href="#">-->
<!--                                            <h6>The Best Winter Trend for 2022/2023</h6></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-6">-->
<!--                                <div class="cardBlog wow fadeInUp">-->
<!--                                    <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage2/blog2.png"-->
<!--                                                                            alt="guza"></a></div>-->
<!--                                    <div class="cardInfo">-->
<!--                                        <div class="cardTags"><a href="#">Fashion</a><span-->
<!--                                                class="date-post">DEC 1, 2022</span></div>-->
<!--                                        <a class="cardTitle" href="#">-->
<!--                                            <h6>The Best Winter Trend for 2022/2023</h6></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-6">-->
<!--                                <div class="cardBlog wow fadeInUp">-->
<!--                                    <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage2/blog3.png"-->
<!--                                                                            alt="guza"></a></div>-->
<!--                                    <div class="cardInfo">-->
<!--                                        <div class="cardTags"><a href="#">Fashion</a><span-->
<!--                                                class="date-post">{{article.created_at|date:"j M"}}</span></div>-->
<!--                                        <a class="cardTitle" href="#">-->
<!--                                            <h6>The Best Winter Trend for 2022/2023</h6></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="block-comments">
                        <h4 class="mb-30">Comments</h4>
                        <div class="list-comments">
                            <div class="item-comment">
                                <div class="comment-image"><img src="assets/imgs/page/blog/avatar.png" alt="Guza"></div>
                                <div class="comment-info">
                                    <div class="comment-info-top">
                                        <div class="comment-author-name">Ryan Lubin</div>
                                        <div class="comment-date">September 30, 2022</div>
                                    </div>
                                    <div class="comment-info-bottom">
                                        <p class="body-p2">Vivamus viverra consequat ipsum, nec auctor dolor eleifend
                                            sit amet. Nulla cursus fringilla metus a dictum</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-comment">
                                <div class="comment-image"><img src="assets/imgs/page/blog/avatar2.png" alt="Guza">
                                </div>
                                <div class="comment-info">
                                    <div class="comment-info-top">
                                        <div class="comment-author-name">Talan Korsgaard</div>
                                        <div class="comment-date">September 30, 2022</div>
                                    </div>
                                    <div class="comment-info-bottom">
                                        <p class="body-p2">Vivamus viverra consequat ipsum, nec auctor dolor eleifend
                                            sit amet. Nulla cursus fringilla metus a dictum</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-comment">
                                <div class="comment-image"><img src="assets/imgs/page/blog/avatar3.png" alt="Guza">
                                </div>
                                <div class="comment-info">
                                    <div class="comment-info-top">
                                        <div class="comment-author-name">Skylar Press</div>
                                        <div class="comment-date">September 30, 2022</div>
                                    </div>
                                    <div class="comment-info-bottom">
                                        <p class="body-p2">Vivamus viverra consequat ipsum, nec auctor dolor eleifend
                                            sit amet. Nulla cursus fringilla metus a dictum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-form-comment">
                        <h4>Leave a Reply</h4>
                        <p class="text-16 neutral-medium mb-30">Your email address will not be published. Required
                            fields are marked *</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Name *">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Email *">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Phone number">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Website">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Contents" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-center mt-10">
                                    <button class="btn btn-black">Post Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}