{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}

<main class="main">
    {% include 'sliders.html' %}
    <section class="section block-intro">
        <div class="container">
            <div class="text-center">
                <h3 class="mb-20">Welcome to our store</h3>
                <h5 class="mb-60">The self care brand that’s setting a new standard. Clean <br
                        class="d-none d-lg-block">products and sex ed, to help you feel good in your own body.</h5>
            </div>
            <div class="list-intros">
                <div class="item-intro">
                    <div class="item-intro-icon"><img src="{% static 'dolls/assets/imgs/page/homepage15/icon1.svg' %}"
                                                      alt="Guza"></div>
                    <div class="item-intro-info">
                        <h6 class="primary-dark">Powered By Nature</h6>
                        <p class="body-p2 neutral-dark">Aliquam venenatis vel lorem id mollis. </p>
                    </div>
                </div>
                <div class="item-intro">
                    <div class="item-intro-icon"><img src="{% static 'dolls/assets/imgs/page/homepage15/icon2.svg' %}"
                                                      alt="Guza"></div>
                    <div class="item-intro-info">
                        <h6 class="primary-dark">Exceptional Quality</h6>
                        <p class="body-p2 neutral-dark">Nulla tincidunt gravida augue, eget pellentesque.</p>
                    </div>
                </div>
                <div class="item-intro">
                    <div class="item-intro-icon"><img src="{% static 'dolls/assets/imgs/page/homepage15/icon3.svg' %}"
                                                      alt="Guza"></div>
                    <div class="item-intro-info">
                        <h6 class="primary-dark">Skin First Formulas</h6>
                        <p class="body-p2 neutral-dark">Aliquam sed diam fringilla, lobortis orci nec.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section block-banner-video-2">
        <div class="container">
            <div class="box-banner-video">
                <div class="box-banner-video-info">
                    <h2 class="mb-25">We make going all <br class="d-none d-lg-block">natural second nature.</h2><a
                        class="btn btn-border-white" href="#">Our Story</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section block-shop-1">
        <div class="container">
            <div class="text-center">
                <h3 class="neutral-dark wow fadeInLeft">Our Best Sellers</h3>
                <div class="box-tabs wow fadeInRight">
                    <ul class="nav nav-tabs nav-tabs-style-2 nav-tabs-style-3" role="tablist">
                        {% for category in objects_list %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link {% if forloop.first %} active {% endif %}"
                                    id="{{category.name}}-tab" data-bs-toggle="tab"
                                    data-bs-target="#{{category.name}}" type="button" role="tab"
                                    aria-controls="{{category.name}}"
                                    aria-selected="true">{{category.name}}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                {% for category in objects_list %}
                <div class="tab-pane fade show active" id="{{category.name}}" role="tabpanel"
                     aria-labelledby="{{category.name}}-tab">
                    <div class="row">
                        {% for product in category.product_list %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="cardProduct wow fadeInUp">
                                <div class="cardImage"><a href="{% url 'dolls:shop_single' product.pk %}"><img
                                        class="imageMain"
                                        src="{{product.one_image|add_media}}"
                                        alt="guza"><img class="imageHover"
                                                        src="{{product.one_image|add_media}}"
                                                        alt="guza"></a>
                                    <div class="button-select">
                                        {% if product.quantity %}
                                        <a href="#"
                                           class="addto-cart ajax-cart-add"
                                           data-product_id="{{ product.pk }}"
                                           data-url="{% url 'cart:cart_add' product.pk %}"
                                           title="Купить">Купить</a>
                                        {% else %}
                                        <a class="addto-cart"
                                           title="Нет в наличии"
                                           style="pointer-events: none; opacity: 0.6;">Нет в наличии</a>
                                        {% endif %}
                                    </div>
                                    <div class="box-quick-button">
                                        <a class="btn preview-product"
                                           data-url="{% url 'dolls:product_preview_update' product.pk %}" href="#">
                                            <svg class="d-inline-flex align-items-center justify-content-center"
                                                 width="28"
                                                 height="28" viewbox="0 0 28 28" fill=""
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_91_73)">
                                                    <path d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z"
                                                          fill=""></path>
                                                </g>
                                                <defs>
                                                    <clippath id="clip0_91_73">
                                                        <rect width="24" height="24" fill="white"
                                                              transform="translate(2 2)"></rect>
                                                    </clippath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="cardInfo"><a href="#">
                                    <h6 class="text-16-medium cardTitle">{{product.name}}</h6></a>
                                    <p class="body-p2 cardDesc">
                                        {% if product.sale %}
                                        <del>{{product.old_price}}</del>
                                        {% endif %}
                                        {{product.price}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section block-feature-product-home15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 mb-30">
                    <h3 class="overline-t2 title-feature">Featured product</h3>
                    <h3 class="title-main-feature">72 hours of <br class="d-none d-lg-block">hydration</h3>
                    <p class="body-p2 mb-25">Too much time in the sun can dehydrate and damage your skin, causing
                        premature aging. Look for a fast absorbing moisturiser to provide that instant hydration
                        boost.</p><a class="btn btn-black" href="#">Shop Now</a>
                </div>
                <div class="col-lg-4 mb-30"><img src="{% static 'dolls/assets/imgs/page/homepage15/feature.png' %}"
                                                 alt="Guza"></div>
                <div class="col-lg-4 mb-30"><img src="{% static 'dolls/assets/imgs/page/homepage15/feature2.png' %}"
                                                 alt="Guza"></div>
            </div>
        </div>
    </section>
    {% include 'testimonials.html' %}
    {% include 'our-quality.html' %}
    <section class="section block-banner-collection-home15">
        <div class="container">
            <h2 class="mb-10">Your Skin<br class="d-none d-lg-block">Deserves Better.</h2>
            <h5 class="mb-30">Organic. Phytoactive. Skincare</h5><a class="btn btn-black" href="#">Shop the
            Collection</a>
        </div>
    </section>

    <section class="section box-blogs">
        <div class="container">
            <div class="text-center">
                <h3 class="mb-40 wow fadeInLeft">From the Blog</h3>
            </div>
            <div class="row">
                {% for article in blog_list %}
                {% url 'blog:blog_detail' article.slug as article_url %}
                <div class="col-md-4">
                    <div class="cardBlog wow fadeInUp">
                        <div class="cardImage"><a href="{{article_url}}">
                            <img src="{% static 'dolls/assets/imgs/page/homepage15/blog3.png' %}"
                                 alt="guza"></a></div>
                        <div class="cardInfo">
                            <div class="cardTags"><a href="#">Fashion</a><span class="date-post">{{article.created_at|date:"j M, Y"}}</span>
                            </div>
                            <a class="cardTitle" href="{{article_url}}">
                                <h5>{{article.title|safe}}</h5></a>
                            <p class="cardDesc body-p2">{{article.content|safe|truncatechars_html:50}}
                            </p><a class="link-underline link-l2" href="{{article_url}}">Читать</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="section block-instagram-type-5">
        <div class="container">
            <div class="text-center">
                <h3 class="wow fadeInLeft">Instagram with <span class="primary-navy">#July</span></h3>
            </div>
            <div class="box-gallery-instagram-type-5 wow fadeInRight">
                <div class="gallery-1"><img src="{% static 'dolls/assets/imgs/page/homepage15/inst-img.png' %}"
                                            alt="kidify"></div>
                <div class="gallery-2"><img src="{% static 'dolls/assets/imgs/page/homepage15/inst-img2.png' %}"
                                            alt="kidify"><img
                        src="{% static 'dolls/assets/imgs/page/homepage15/inst-img3.png' %}" alt="kidify"><img
                        src="{% static 'dolls/assets/imgs/page/homepage15/inst-img4.png' %}" alt="kidify"><img
                        src="{% static 'dolls/assets/imgs/page/homepage15/inst-img5.png' %}" alt="kidify"><img
                        src="{% static 'dolls/assets/imgs/page/homepage15/inst-img6.png' %}" alt="kidify"><img
                        src="{% static 'dolls/assets/imgs/page/homepage15/inst-img7.png' %}" alt="kidify"></div>
            </div>
        </div>
    </section>

</main>

{% endblock content %}