{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}

<main>
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="banner-content">
                <h3>Checkout</h3>
                <p>our vision is to be Earth's most customer centric company</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="index.html" title="Home">Home</a></li>
                <li class="active">Checkout</li>
            </ol>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->
    <!-- Checkout -->
    <div class="container-fluid no-left-padding no-right-padding woocommerce-checkout">
        <!-- Container -->
        <div class="container">
            <!-- Login -->
            <div class="col-md-12 col-sm-12 col-xs-12 login-block">
                <div class="login-check">
                    <h3>Детали заказа</h3>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Товар</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <td>{{item.product}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.get_cost}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right">Сумма заказа {{order.get_total_cost}} </td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td colspan="2" class="text-center">
                                    Заказ № {{order.pk}} от {{order.created_at|date:"d M Y"}}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Статус</td>
                                <td>{{order.get_status}}</td>
                            </tr>
                            <tr>
                                <td>Получатель</td>
                                <td>{{order.get_recipient}}</td>
                            </tr>
                            <tr>
                                <td rowspan="2">Адрес</td>
                                <td rowspan="2">{{order.get_address}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Container /- -->
    </div><!-- Checkout /- -->

</main>

{% endblock content %}

