{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}

<main>
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="banner-content">
                <h3>Shop Single</h3>
                <p>our vision is to be Earth's most customer centric company</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="index.html" title="Home">Home</a></li>
                <li class="active">Shop</li>
            </ol>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->

    <!-- Shop Single -->
    <div class="shop-single container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="product-views">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="carousel-item">
                        {% for image in product.images.all %}
                        <div class="item">
                            <img src="{{image|add_media}}" alt="Product" width="270"/>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Entry Summary -->
                <div class="col-md-6 col-sm-6 col-xs-12 entry-summary">
                    <h3 class="product_title">{{product.name}}</h3>
                    <div class="product-rating">
                        <div class="star-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a href="#review-link" class="review-link">20 reviews</a>
                    </div>
                    <p class="stock in-stock"><span>Наличие:</span> {{product.quantity}}</p>
                    <div>
                        <p>{{product.description}}</p>
                    </div>
                    {% if product.sale %}
                    <span class="price"><del>{{product.old_price}}</del>{{product.price}}</span>
                    {% else %}
                    <span class="price">{{product.price}}</span>
                    {% endif %}
                    <!--                    <a href="#" title="Купить" class="add_to_cart">Купить</a>-->
                    <form method="get" action="{% url 'cart:cart_add' product.pk %}">
                        {% if product.quantity %}
                        <button id="quantity"
                           class="add_to_cart ajax-cart-add"
                           data-product_id="{{ product.pk }}"
                           data-url="{% url 'cart:cart_add' product.pk %}"
                           title="Купить">Купить</button>
                        {% else %}
                        <button disabled class="add_to_cart"
                           title="Нет в наличии"
                           style="opacity: 0.5;cursor: not-allowed;">Нет в наличии</button>
                        {% endif %}
                    </form>
                    <div class="product_meta">
								<span class="posted_in">
									<a href="#"><i class="fa fa-heart"></i></a>
									<a href="#"><i class="fa fa-retweet"></i></a>
									<a href="#"><i class="fa fa-envelope-o"></i></a>
								</span>
                        <ul class="social">
                            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
                        </ul>
                    </div>
                </div><!-- Entry Summary /- -->
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 description">
                <h5>Description about this product</h5>
                <p>A shadowy flight into the dangerous world of a man who does not exist. And we'll do it our way yes
                    our way. Make all our dreams come true for me and you. Makin their way the only way they know how.
                    That's just a little bit more than the law will allow. Doin' it our way. Nothin's gonna turn us back
                    now. Straight ahead and on the track now. We're gonna make our dreams come true Takin' a break from
                    all your worries sure would help a lot. Believe it or not I'm walking on air. I never thought I
                    could feel so free. Flying away on a wing and a prayer. Who could it be? Believe it or not its just
                    me. </p>
            </div>

        </div><!-- Container /- -->
    </div><!-- Shop Single /- -->
</main>

{% endblock content %}
