{% extends 'basic.html' %}

{% block content %}
    {% load static %}
    {% load dolls_tags %}

    <main class="main">
        <section class="section block-banner-shop">
            <div class="container">
                <h1 class="text-56-medium">Мои куколки</h1>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'dolls:home' %}">Главная </a></li>
                        <li><a href="#">Куклы</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section block-content-shop">
            <div class="container">
                <div class="shop-top-filter">
                    <div class="left-filter"><a class="btn-open-filter" href="#">Фильтр</a></div>
                    <div class="right-filter">
                        <div class="box-filter-top">
                            <div class="show-sm"><a class="btn-open-filter" href="#">Фильтр </a></div>
                            <div class="number-product">
    {#                                <p class="body-p2 neutral-medium-dark">Showing 9 of 18 products</p>#}
                            </div>
                            <div class="box-sort">
{#                                <div class="box-sortby d-flex align-items-center">#}
{#                                    <div class="dropdown dropdown-sort">#}
{#                                        <button class="btn dropdown-toggle" id="dropdownSort" type="button"#}
{#                                                data-bs-toggle="dropdown" aria-expanded="false">Сортировка#}
{#                                        </button>#}
{#                                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort"#}
{#                                            style="margin: 0px;">#}
{#                                            <li><a class="dropdown-item active" href="#">Сортировка </a></li>#}
{#                                            <li><a class="dropdown-item" href="#">По времени </a></li>#}
{#                                            <li><a class="dropdown-item" href="#">По комментариям </a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="box-view-style">
                                    <a class="view-type view-2" href="#" data-col="2"></a>
                                    <a class="view-type view-3" href="#" data-col="3"></a>
                                    <a class="view-type view-4 active" href="#" data-col="4"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'shop-filter.html' %}
            <div class="container">
                <!--            <div class="box-your-filter box-your-filter-shop2">-->
                <!--                <div class="block-text-filter"><span class="body-p2 neutral-medium-dark">Your filter</span></div>-->
                <!--                <div class="block-ele-filter"><a class="btn btn-tag-filter" href="#">XS<span-->
                <!--                        class="close-tag"></span></a><a class="btn btn-tag-filter" href="#">Women<span-->
                <!--                        class="close-tag"></span></a><a class="clear-filter link-underline" href="#">Clear All</a></div>-->
                <!--            </div>-->
                <div  id="products-container" data-url="{% url 'dolls:shop_filter' %}">
                {% include 'products.html' %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}