{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}

<main>
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="banner-content">
                <h3>Checkout</h3>
                <p>our vision is to be Earth's most customer centric company</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="index.html" title="Home">Home</a></li>
                <li class="active">Checkout</li>
            </ol>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->
    <!-- Checkout -->
    <div class="container-fluid no-left-padding no-right-padding woocommerce-checkout">
        <!-- Container -->
        <div class="container">
            <!-- Login -->
            <div class="col-md-12 col-sm-12 col-xs-12 login-block">
                <div class="login-check">
                    <form method="post" action="{% url 'users:login' %}" enctype="multipart/form-data">
                        <h3>{{title_form}}</h3>
                        <div class="col-md-7 col-sm-6 col-xs-6 login-form">
                            {% csrf_token %}
                            <div class="form-error">{{ form.non_field_errors }}</div>
                            {% for f in form %}
                            <div class="form-group">
                                <label class="check-detail" for="{{ f.id_for_label }}">
                                    {{ f.label }}</label>
                                {{ f| add_attrs }}
                            </div>
                            <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}
                            {% if user.is_authenticated %}
                            <input value="Сохранить" type="submit">
                            {% else %}
                            {% if create_user %}
                            <input value="Зарегистрировать" type="submit">
                            {% else %}
                            <input value="ВОЙТИ" type="submit" name="login">
                            <input value="Забыли пароль?" type="submit" name="recovery">
                            <a href="{% url 'users:create_user' %}" type="button"
                               name="register">
                                Регистрация
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </form>
                    <div class="col-md-5 col-sm-6 col-xs-6 check-details">
                        <div class="shipping-fields">
                            <div class="checkout-order-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Адреса доставки</th>
                                        <th>Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for addr in user.addresses.all %}
                                    <tr class="cart_item">
                                        <td class="product-name"><a href="{% url 'users:address_update' addr.pk %}?next={{ request.path }}" title="Редактировать">{{addr}}</a></td>
                                        <td>
                                            {% if addr.is_active %}
                                            <b>{{addr.get_status}}</b>
                                            {% else %}
                                            <a href="{% url 'users:change_status' addr.pk %}" title="Сделать основным">{{addr.get_status}}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if user.is_authenticated %}
                                <form action="{% url 'users:address_create' %}?next={{ request.path }}" method="post">
                                    <input type="submit" value="Новый">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="shipping-fields">
                            <div class="checkout-order-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Мои заказы</th>
                                        <th>Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item">
                                        <td class="product-name">MENS CASUAL SHOE</td>
                                        <td>$550.00</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- Login /- -->
                </div><!-- Container /- -->
            </div><!-- Checkout /- -->

</main>

{% endblock content %}
	
