{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load dolls_tags %}

<main>
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="banner-content">
                <h3>Checkout</h3>
                <p>our vision is to be Earth's most customer centric company</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="index.html" title="Home">Home</a></li>
                <li class="active">Checkout</li>
            </ol>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->
    <!-- Checkout -->
    <div class="container-fluid no-left-padding no-right-padding woocommerce-checkout">
        <!-- Container -->
        <div class="container">
            <!-- Login -->
            <div class="col-md-12 col-sm-12 col-xs-12 login-block">
                <div class="login-check">
                    <h3>Вы действительно хотите выйти?</h3>
                    <div class="col-md-7 col-sm-6 col-xs-6 login-form">
                        <form method="post" action="{% url 'users:logout' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="button-area col-md-12 mx-auto">
                                <div class="parent-div">
                                <input value="Выйти" type="submit">
                                <a href="{{ return_url }}"
                                   type="button">Назад</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- Login /- -->
        </div><!-- Container /- -->
    </div><!-- Checkout /- -->

</main>

{% endblock content %}
	
