{% extends 'basic.html' %}

{% block content %}
    {% load static %}
    {% load dolls_tags %}

    <main class="main">
        <section class="section banner-500">
            <div class="box-cover-image wow fadeInUp"></div>
            <div class="box-banner-info wow bounceIn">
                <p class="overline-t2-medium text-uppercase primary-navy mb-10">ПРАВИЛА</p>
                <h2 class="color-primary-dark mb-30">Пользовательское соглашение</h2>
            </div>
        </section>

        <section class="section block-content-custome">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 wow bounceIn">
                        <ul class="menu-left">
                            <li><a href="{% url 'dolls:shipping' %}">Оплата и доставка</a></li>
                            <li><a href="{% url 'dolls:privacy_policy' %}">Политика конфиденциальности</a></li>
                            <li><a class="active" href="#">Пользовательское соглашение</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-9 wow bounceIn">
                        <div class="content-detail">
                            <p class="body-p2 neutral-medium-dark mb-30">Настоящее соглашение регулирует отношения между
                                Торопова Е.В. («Продавец») и Покупателем товаров в интернет-магазине «ТОР».</p>

                            <h3>1. Общие положения</h3>
                            <ol class="list-decimal mb-30">
                                <li>Оформляя заказ, Покупатель подтверждает согласие с условиями настоящего
                                    соглашения.
                                </li>
                                <li>Все куклы являются авторскими изделиями ручной работы и могут иметь незначительные
                                    отличия от фото на сайте.
                                </li>
                            </ol>

                            <h3>2. Порядок оформления заказа</h3>
                            <ol class="list-decimal mb-30">
                                <li>Заказ считается принятым после подтверждения наличия товара Продавцом.</li>
                                <li>Цена товара фиксируется на момент подтверждения заказа.</li>
                                <li>Неоплаченные заказы хранятся в резерве 3 рабочих дня.</li>
                            </ol>

                            <h3>3. Оплата и доставка</h3>
                            <ol class="list-decimal mb-30">
                                <li>Доступные способы оплаты:
                                    <ul class="list-bullet mt-10">
                                        <li>Перевод на банковскую карту</li>
                                        <li>Банковский перевод</li>
                                    </ul>
                                </li>
                                <li>Сроки изготовления индивидуальных заказов оговариваются отдельно.</li>
                                <li>Доставка осуществляется транспортными компаниями после 100% предоплаты.</li>
                            </ol>

                            <h3>4. Возврат товара</h3>
                            <ol class="list-decimal mb-30">
                                <li>Возврат бракованных товаров осуществляется в течение 7 дней после получения при
                                    условии сохранения оригинальной упаковки и товарного вида.
                                </li>
                                <li>Согласно:
                                    <ul class="list-bullet mt-10">
                                        <li>ч.1 ст. 25 Закона РФ "О защите прав потребителей"</li>
                                        <li>"Перечню непродовольственных товаров надлежащего качества, не подлежащих
                                            возврату или обмену" (Постановление Правительства РФ №55 от 19.01.1998, п.6
                                            - изделия швейные, трикотажные)
                                        </li>
                                        <li>ст. 26.1 Закона "О защите прав потребителей" (дистанционная торговля)</li>
                                    </ul>
                                    куклы ручной работы надлежащего качества <strong>не подлежат</strong> возврату и
                                    обмену, так как являются:
                                    <ul class="list-bullet mt-10">
                                        <li>уникальными авторскими изделиями</li>
                                        <li>изделиями из текстильных материалов (п.6 Перечня)</li>
                                        <li>изготавливаемыми по индивидуальным параметрам</li>
                                    </ul>
                                </li>
                                <li>Для возврата товара ненадлежащего качества требуется предоставить фото/видео
                                    доказательства дефектов.
                                </li>
                            </ol>

                            <h3>5. Ответственность</h3>
                            <ol class="list-decimal mb-30">
                                <li>Продавец не несет ответственности за задержки доставки, вызванные действиями
                                    транспортных компаний.
                                </li>
                                <li>Все претензии по качеству товара принимаются в течение 3 дней с момента получения.
                                </li>
                            </ol>

                            <h3>6. Заключительные положения</h3>
                            <ol class="list-decimal mb-40">
                                <li>Соглашение вступает в силу с момента оформления заказа.</li>
                                <li>Все споры решаются путем переговоров, а при невозможности - в суде по месту
                                    регистрации Продавца.
                                </li>
                            </ol>

                            <div class="box-notice">
                                <p class="text-16-medium">Дата последнего обновления: 01.01.2025</p>
                                <p class="text-16 neutral-medium-dark">Торопова Е.В.<br>
                                    214004, г. Смоленск, ул. Пригородная, д.10</p>
                            </div>

                            <div class="mt-60"><a class="btn btn-black" href="contact.html">Задать вопрос</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}