  {% load static %}
      <section class="section block-icon-box">
        <div class="container"> 
<!--          <div class="text-center"> -->
<!--            <h6 class="text-17-medium primary-navy text-uppercase mb-15 wow fadeInLeft">Высокое качество</h6>-->
<!--            <h3 class="mb-65 wow fadeInRight">We Developed Products We Need</h3>-->
<!--          </div>-->
          <div class="row"> 
            <div class="col-lg-4 hasborder"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img src="{% static 'dolls/assets/imgs/page/homepage15/simplicity.svg' %}" alt="TOR"></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Высокое качество</h6>
                  <p class="body-p2">Только лучшее — в каждой детали</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 hasborder"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img src="{% static 'dolls/assets/imgs/page/homepage15/clothes.svg' %}" alt="TOR"></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Ручная работа</h6>
                  <p class="body-p2">Создано с душой и любовью</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img src="{% static 'dolls/assets/imgs/page/homepage15/nature.svg' %}" alt="TOR"></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Подарочная упаковка</h6>
                  <p class="body-p2">Готово к вручению радости</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
