 <div class="box-popup-account">
      <div class="box-account-overlay"></div>
      <div class="box-account-wrapper"><a class="btn-close-popup btn-close-popup-account" href="#">
          <svg class="icon-16 d-inline-flex align-items-center justify-content-center" fill="#111111" stroke="#111111" width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg></a>
        <div class="form-account-info"><a class="button-tab btn-for-login active" href="#">Login</a><a class="button-tab btn-for-signup" href="#">Sign up</a>
          <div class="form-login">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Email">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Password">
            </div>
            <div class="form-group"><a class="link-under buttun-forgotpass" href="#">Forgot your password?</a></div>
            <div class="form-group">
              <button class="btn btn-black d-block">Login</button>
            </div>
          </div>
          <div class="form-register">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="First Name">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Email">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label class="d-flex align-items-start">
                <input class="cb-agree" type="checkbox"><span class="text-agree body-p2">Join for Free and start earning points today. Benefits include 15% off your first purchase,</span>
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-black d-block">Create my account</button>
            </div>
            <div class="text-center">
              <p class="body-p2 neutral-medium-dark">Already have an account?<a class="neutral-dark login-now" href="#">Login Now</a></p>
            </div>
          </div>
        </div>
        <div class="form-password-info">
          <h5>Recover password</h5>
          <div class="form-login">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <button class="btn btn-black d-block">Recover</button>
            </div>
            <div class="text-center">
              <p class="body-p2 neutral-medium-dark">Already have an account?<a class="neutral-dark login-now" href="#">Login Now</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>