<div class="show-sm">
    <div class="wrapper-overlay"></div>
    <div class="box-filters-sidebar">
        <h5 class="title-filter">Фильтр</h5>
        <div class="block-filter">
            <h6 class="item-collapse">Категории</h6>
            <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                    {% for cat in category_list %}
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">{{ cat.name }} </span>
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{#        <div class="block-filter">#}
{#            <h6 class="item-collapse">Size </h6>#}
{#            <div class="box-collapse scrollFilter">#}
{#                <div class="block-size">#}
{#                    <div class="list-sizes"><span class="item-size">XS </span><span#}
{#                            class="item-size active">S </span><span class="item-size">M </span><span#}
{#                            class="item-size">XL </span></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="block-filter">#}
{#            <h6 class="item-collapse">Price </h6>#}
{#            <div class="box-collapse scrollFilter">#}
{#                <ul class="list-filter-checkbox">#}
{#                    <li>#}
{#                        <label class="cb-container">#}
{#                            <input type="checkbox"><span class="text-small">$10.00 - $49.00</span><span#}
{#                                class="checkmark"></span>#}
{#                        </label>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
<div class="block-filter-middle">
    <div class="container">
        <div class="box-filters">
            <div class="block-filter block-filter-big">
                <h6 class="head-filter">Категории</h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                    {% for cat in category_list %}
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">{{ cat.name }} </span>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
{#            <div class="block-filter">#}
{#                <h6 class="head-filter">Size </h6>#}
{#                <div class="box-collapse scrollFilter">#}
{#                    <ul class="list-filter-checkbox">#}
{#                        <li>#}
{#                            <label class="cb-container">#}
{#                                <input type="checkbox"><span class="text-small">S <span#}
{#                                    class="neutral-medium">(3)</span></span><span#}
{#                                    class="checkmark"></span>#}
{#                            </label>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="block-filter block-filter-big">#}
{#                <h6 class="head-filter">Price </h6>#}
{#                <div class="box-collapse scrollFilter">#}
{#                    <ul class="list-filter-checkbox">#}
{#                        <li>#}
{#                            <label class="cb-container">#}
{#                                <input type="checkbox"><span class="text-small">$10.00 - $49.00</span><span#}
{#                                    class="checkmark"></span>#}
{#                            </label>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</div>