<div class="show-sm">
    <div class="wrapper-overlay"></div>
    <div class="box-filters-sidebar">
        <h5 class="title-filter">Filter</h5>
        <div class="block-filter">
            <h6 class="item-collapse">Categories</h6>
            <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">Womens <span
                                class="neutral-medium">(12)</span></span><span
                                class="checkmark"></span>
                        </label><span class="arrow-down"></span>
                    </li>
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">Mens <span
                                class="neutral-medium">(9)</span></span><span
                                class="checkmark"></span>
                        </label><span class="arrow-down"></span>
                        <ul>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Hats<span
                                        class="neutral-medium">(4)</span></span><span
                                        class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Glasses <span
                                        class="neutral-medium">(3)</span></span><span
                                        class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Jeans<span
                                        class="neutral-medium">(2)</span></span><span
                                        class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">Kids <span
                                class="neutral-medium">(15)</span></span><span
                                class="checkmark"></span>
                        </label><span class="arrow-down"></span>
                    </li>
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">Gifts <span
                                class="neutral-medium">(10)</span></span><span
                                class="checkmark"></span>
                        </label><span class="arrow-down"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block-filter">
            <h6 class="item-collapse">Size </h6>
            <div class="box-collapse scrollFilter">
                <div class="block-size">
                    <div class="list-sizes"><span class="item-size">XS </span><span
                            class="item-size active">S </span><span class="item-size">M </span><span
                            class="item-size">XL </span></div>
                </div>
            </div>
        </div>
        <div class="block-filter">
            <h6 class="item-collapse">Price </h6>
            <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$10.00 - $49.00</span><span
                                class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$50.00 - $99.00</span><span
                                class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$100.00 - $199.00</span><span
                                class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$200.00 +</span><span
                                class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="block-filter-middle">
    <div class="container">
        <div class="box-filters">
            <div class="block-filter block-filter-big">
                <h6 class="head-filter">Categories</h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Womens <span
                                    class="neutral-medium">(12)</span></span><span class="checkmark"></span>
                            </label><span class="arrow-down"></span>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Mens <span
                                    class="neutral-medium">(9)</span></span><span class="checkmark"></span>
                            </label><span class="arrow-down"></span>
                            <ul>
                                <li>
                                    <label class="cb-container">
                                        <input type="checkbox"><span class="text-small">Hats<span
                                            class="neutral-medium">(4)</span></span><span
                                            class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="cb-container">
                                        <input type="checkbox"><span class="text-small">Glasses <span
                                            class="neutral-medium">(3)</span></span><span
                                            class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="cb-container">
                                        <input type="checkbox"><span class="text-small">Jeans<span
                                            class="neutral-medium">(2)</span></span><span
                                            class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Kids <span
                                    class="neutral-medium">(15)</span></span><span class="checkmark"></span>
                            </label><span class="arrow-down"></span>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Gifts <span
                                    class="neutral-medium">(10)</span></span><span class="checkmark"></span>
                            </label><span class="arrow-down"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block-filter">
                <h6 class="head-filter">Size </h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">S <span
                                    class="neutral-medium">(3)</span></span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">L <span
                                    class="neutral-medium">(9)</span></span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">M <span
                                    class="neutral-medium">(4)</span></span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">XL <span
                                    class="neutral-medium">(5)</span></span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block-filter block-filter-big">
                <h6 class="head-filter">Price </h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">$10.00 - $49.00</span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">$50.00 - $99.00</span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span
                                    class="text-small">$100.00 - $199.00</span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">$200.00 +</span><span
                                    class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>