{% load static %}
<!-- Slider Section 1 -->
      <section class="section banner-homepage2 banner-homepage15">
        <div class="box-swiper">
          <div class="swiper-container swiper-banner pb-0">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="box-cover-image" style="background-image: url({% static 'dolls/assets/imgs/page/homepage15/banner.png)' %}">
                  <div class="box-banner-info">
                    <div class="row align-items-center">
                      <div class="col-md-6 mb-30">
                        <h5 class="color-primary-dark mb-10">From the Farm</h5>
                        <h2 class="heading-title-medium color-primary-dark mb-30">To Your Face</h2>
                        <div class="box-button-banner"><a class="btn btn-black" href="#">Shop Now</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box-cover-image" style="background-image: url({% static 'dolls/assets/imgs/page/homepage15/banner2.png' %})">
                  <div class="box-banner-info">
                    <div class="row align-items-center">
                      <div class="col-md-6 mb-30">
                        <h5 class="color-primary-dark mb-10">From the Farm</h5>
                        <h2 class="heading-title-medium color-primary-dark mb-30">To Your Face</h2>
                        <div class="box-button-banner"><a class="btn btn-black" href="#">Shop Now</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-pagination-button">
              <div class="swiper-pagination swiper-pagination-banner"></div>
            </div>
          </div>
        </div>
      </section>
