{% load static %}
<div class="block-shares-left"><span class="text-17"></span>
    <div class="socials">
        <a href="{{ url_vk }}">
            <img src="{% static 'dolls/assets/imgs/template/social/icon_vk.png' %}"
                 title="вконтакте" width="20" alt="TOR">
        </a>
        <a href="{{ url_instagram }}">
            <img src="{% static 'dolls/assets/imgs/template/social/icon_instagram.png' %}"
                 title="" width="20" alt="TOR">
        </a>
        <a href="{{ url_pinterest }}">
            <img src="{% static 'dolls/assets/imgs/template/social/icon_pinterest.png' %}"
                 title="pinterest" width="20" alt="TOR">
        </a>
        <a href="{{ url_youtube }}">
            <img src="{% static 'dolls/assets/imgs/template/social/icon_youtube.png' %}"
                 title="youtube" width="20" alt="TOR">
        </a>
    </div>
</div>