<section class="section block-testimonials block-testimonials-2">
    <div class="container">
        <div class="text-center wow bounceIn">
            <p class="text-17-medium text-uppercase mb-15 primary-navy">ОТЗЫВЫ</p>
            <h3 class="neutral-dark mb-40 wow fadeInLeft">Что говорят клиенты</h3>
        </div>
        <div class="box-slide-customers wow fadeInUp">
            <div class="box-swiper">
                <div class="swiper-container swiper-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p class="text-italic-28 mb-30">"Каждая кукла Екатерины — это отдельная история, наполненная
                                теплом и добротой. Моя дочь не расстается с ней!"</p>
                            <p class="text-16-medium">Анна Смирнова</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="text-italic-28 mb-30">"Сказки, которые прилагаются к куклам, стали нашими любимыми
                                вечерними историями. Спасибо за это волшебство!"</p>
                            <p class="text-16-medium">Ольга Иванова</p>
                        </div>
                        <div class="swiper-slide">
                            <p class="text-italic-28 mb-30">"Куклы ТОР — это не просто игрушки, это настоящие хранители
                                детских эмоций и воспоминаний."</p>
                            <p class="text-16-medium">Мария Петрова</p>
                        </div>
                    </div>
                    <div class="box-pagination-button">
                        <div class="swiper-pagination swiper-pagination-banner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
